      	                    
                    <div class="row">
                        <div class="col-sm-5">
                        	<h3>Lista Cursos</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="active">
                                        <th>#</th>
                                        <th>Nome </th>
                                        <th>Faculdade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @cursos.each do |curso| %>
                                    <tr>
                                        <td><%= curso.id %></td>
                                        <td><%= link_to curso.name, curso_disciplinas_path(curso) %></td>
                                        <td><%= curso.faculdade %></td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <p>Novo Curso? <%= link_to "Cadastre aqui!", new_curso_path %></p>
                        </div>                       	
                    </div>                    
        