                    <div class="row">
                        <div class="col-sm-5">
                        	<h3>Comentários sobre <%= @disciplina.name %></h3>
                            
                            
                                <p><%= @disciplina.comment %></p><br>
                            

                        </div>                       	
                    </div>