               	                    
                    <div class="row">
                        <div class="col-sm-5">
                        	<h3>Informações do Usuário</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="active">
                                        <th>#</th>
                                        <th>Nome </th>
                                        <th>Faculdade</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @users.each do |user| %>
                                    <tr>
                                        <td><%= user.id %></td>
                                        <td><%= user.curso %></td>
                                        <td><%= user.faculdade %></td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>                       	
                    </div>                    
        