 <% if flash[:notice] %>
    <div class="notice"><h4><%= flash[:notice] %></h4></div>
  <% end %> 
                    <div class="row">
                        <div class="jumbotron">
                                <h1>Bem Vindo <%= @user.name %></h1>
                        </div>                   
                    </div>
